<div class="announcement">
    <b>{{formatDate startDate "MMMM d"}}
        {{#if time}}
        <span> @ {{time}}</span>
        {{/if}}
        {{#if endDate}} - {{formatDate endDate "d"}}{{/if}}
    </b>

    <div>{{description}}</div>
    {{#if additionalInfo}}
    <i>{{additionalInfo}}</i>
    {{/if}}
    {{#if location}}
    <div>
        <address><small>{{location}}</small></address>
    </div>
    {{/if}}
    {{#if link}}
    <div class="hide-on-print"><a href="{{link.href}}" target="_blank">{{link.name}}</a></div>
    {{/if}}
</div>