---
import formatDate from "../lib/date";
import { type Announcement } from "../lib/types";

const {
    startDate,
    endDate,
    time,
    description,
    additionalInfo,
    location,
    link,
} = Astro.props as Announcement;
---

<div class="announcement">
    <b
        >{formatDate(startDate, "MMMM d")}
        {time && <span> @ {time}</span>}
        {endDate && <span> - {formatDate(endDate, "d")}</span>}
    </b>

    <div>{description}</div>
    {additionalInfo && <i>{additionalInfo}</i>}

    {
        location && (
            <div>
                <address>
                    <small>{location}</small>
                </address>
            </div>
        )
    }

    {
        link && (
            <div class="hide-on-print">
                <a href={link.href} target="_blank">
                    {link.name}
                </a>
            </div>
        )
    }
</div>
