---
import "../styles/bulletin.css";
import formatDate from "../lib/date";
import Scripture from "./Scripture.astro";
import Passage from "./Passage.astro";
import Announcement from "./Announcement.astro";
import Song from "./Song.astro";
import type { Bulletin } from "../lib/types";
import { migrateBulletinToV2 } from "../lib/bulletinMigration";

const bulletinV2 = migrateBulletinToV2(Astro.props.bulletin as Bulletin);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Philadelphia Seventh Day Baptist Church | Bulletin | {
        formatDate(bulletinV2.date, "MMMM dd, yyyy")
      }
    </title>
  </head>
  <body>
    <div class="container">
      <div class="left-column">
        <h1>{formatDate(bulletinV2.date, "MMMM d, yyyy")}</h1>
        <section class="sabbath-school">
          <h2>Sabbath School @ 11am</h2>
          <div><b>Topic:</b> "{bulletinV2.sabbathSchool.topic}"</div>
          <Scripture title="Study" reference={bulletinV2.sabbathSchool.study} />
          <Scripture
            title="Background"
            reference={bulletinV2.sabbathSchool.background}
          />
          <Scripture
            title="Devotional"
            reference={bulletinV2.sabbathSchool.devotional}
          />
        </section>
        <section class="announcements">
          <h2>Announcements</h2>
          {
            bulletinV2.announcements.map((announcement) => {
              return <Announcement {...announcement} />;
            })
          }
        </section>
        {
          bulletinV2.notes.map((note) => (
            <p>
              <b>{note}</b>
            </p>
          ))
        }
      </div>
      <div class="right-column">
        <section>
          <div class="item">
            <h2>Divine Worship</h2>
          </div>
          {
            bulletinV2.worshipService.map((item) => {
              switch (item.type) {
                case "worshipLeader":
                  return (
                    <div class="item">
                      <b>Worship Leader:</b> {item.name}
                    </div>
                  );

                case "thoughtOfTheDay":
                  return (
                    <div class="item">
                      <Scripture
                        title="Thought of the Day"
                        reference={item.reference}
                      />
                      <Passage reference={item.reference} />
                      {item.presentedBy && (
                        <div>
                          <i>{item.presentedBy}</i>
                        </div>
                      )}
                    </div>
                  );

                case "song":
                  return (
                    <div class="item">
                      <div>
                        <b>{item.label}</b>
                      </div>
                      <Song reference={item.song} />
                      {item.presentedBy && (
                        <div>
                          <i>{item.presentedBy}</i>
                        </div>
                      )}
                    </div>
                  );

                case "text":
                  return (
                    <div class="item">
                      {item.content && item.small && item.italic ? (
                        <div>
                          <small>
                            <b>
                              <i>*{item.content}*</i>
                            </b>
                          </small>
                        </div>
                      ) : null}
                      <div>
                        <b>{item.label}</b>
                      </div>
                      {item.presentedBy && (
                        <div>
                          <i>{item.presentedBy}</i>
                        </div>
                      )}
                    </div>
                  );

                case "scripture":
                  return (
                    <div class="item">
                      <Scripture title={item.label} reference={item.reference} />
                      {item.showPassage && <Passage reference={item.reference} />}
                      {item.presentedBy && (
                        <div>
                          <i>{item.presentedBy}</i>
                        </div>
                      )}
                    </div>
                  );

                case "tithesAndOffering":
                  return (
                    <>
                      <div class="item">
                        <div>
                          <b>Tithes and Offering</b>
                          <span class="hide-on-print donate-link">
                            <a href="/giving" target="_blank">
                              Giving (Click Here)
                            </a>
                          </span>
                        </div>
                        <Song reference={item.song} />
                      </div>
                      <div class="item">
                        <div>
                          <b>Prayer for Tithes and Offering</b>
                        </div>
                        {item.presentedBy && (
                          <div>
                            <i>{item.presentedBy}</i>
                          </div>
                        )}
                      </div>
                      {bulletinV2.youth && (
                        <div class="item">
                          <div>
                            <small>
                              <b>
                                <i>
                                  *Children and young people separate into Young
                                  Leaders Church*
                                </i>
                              </b>
                            </small>
                          </div>
                        </div>
                      )}
                    </>
                  );

                case "message":
                  return (
                    <div class="item">
                      <div>
                        <b>Message</b>
                      </div>
                      <em>{item.message.title}</em>
                      <div>
                        <b>{item.message.speaker}</b>
                      </div>
                    </div>
                  );

                case "communion":
                  return (
                    <div class="item">
                      <div>
                        <b>Communion</b>
                        {item.communion.description && (
                          <small>
                            <em>{item.communion.description}</em>
                          </small>
                        )}
                      </div>
                      <div>
                        <small>
                          <em>
                            Participation is open to all who are in good
                            relationship with the Lord
                          </em>
                        </small>
                      </div>
                      {item.communion.songs.map((song) => (
                        <Song reference={song} />
                      ))}
                    </div>
                  );

                case "custom":
                  return (
                    <div class="item">
                      <div>
                        {item.song && <Song reference={item.song} />}
                        <b>{item.label}</b>
                        {item.content && <div>{item.content}</div>}
                        {item.presentedBy && (
                          <div>
                            <i>{item.presentedBy}</i>
                          </div>
                        )}
                      </div>
                    </div>
                  );

                default:
                  return null;
              }
            })
          }
        </section>
      </div>
    </div>
  </body>
</html>
