---
interface Props {
    title: string;
    reference: string;
    text?: string;
}

const { title, reference, text } = Astro.props as Props;

const encodeReference = encodeURIComponent(reference);
const url = `https://www.biblegateway.com/passage/?search=${encodeReference}&version=KJV`;
---

<div class="scripture">
    <b>{title}:</b>
    <a href={url} target="_blank">{reference}</a>
    {text && <em>{text}</em>}
</div>
