---
import hymnals from "../data/hymnals.json" assert { type: "json" };
import type { Song } from "../lib/types";

const DEFAULT_HYMNAL_CODE = "HHOF1980";

interface Props {
    reference: number | Song;
    hymnalCode?: string;
}

const { reference, hymnalCode } = Astro.props as Props;

var song = null;

if (typeof reference === "number") {
    const code = hymnalCode || DEFAULT_HYMNAL_CODE;
    const hymnal = hymnals.find((h) => h.Code === code);
    const hymn = hymnal?.Hymns?.find((h) => h.Number === reference);
    if (hymn) {
        song = {
            title: hymn.Title,
            hymnNumber: hymn.Number,
            url: hymn.Url,
            hymnal: hymnal?.Name,
        };
    }
} else {
    song = reference;

    if (hymnalCode) {
        const hymnal = hymnals.find((h) => h.Code === hymnalCode);
        const hymn = hymnal?.Hymns?.find((h) => h.Number === song.hymnNumber);
        if (hymnal) {
            song.hymnal = hymnal.Name;
            song.url = hymn?.Url;
            song.hymnNumber = hymn?.Number;
            song.title = hymn?.Title;
        }
    }
}
---

<div class="song">
    {song && <em>{song.title}</em>}
    {
        song?.hymnNumber && (
            <div>
                <a href={song.url} target="_blank">
                    {song.hymnal} #{song.hymnNumber}
                </a>
            </div>
        )
    }
    {song?.artist && <div>by {song.artist}</div>}
    {song?.additionalInfo && <div>by {song.additionalInfo}</div>}
</div>
